<% if current_user -%>
  <li><%= link_to t('my_account'), user_path(current_user) %></li>
  <li id="login-bar"><%= link_to t('logout'), logout_path %></li>
<% else %>
  <li id="login-bar"><%= link_to t('log_in'), login_path %></li>
<% end -%>
